.container.loaded
{
	border : 1px solid rgb(182, 182, 182);
	width : 90%;
	margin : 5vh auto;
	display : flex;
	flex-direction: row;
}

.container.not-loaded
{
	text-align: center;
	margin-top : 5vh;
	font-size: 1.6rem;
}

.container.loaded img
{
	height : 100%;
	width : 30%;
}

.container.loaded .accordion
{
	width: 70%;
}

ul
{
	list-style : none;
}

ul li
{
	text-align: left;
	font-size : 1.04rem;
	margin-bottom: 1.2rem;
}


.numbers
{
	display : flex;
	flex-direction  : row;
	justify-content : center;
	align-items : center;
}

.numbers p
{
	margin : 20px 10px;
	font-size : 1.15rem;
}

.emoji
{
	font-size: 2rem;
}


@media (max-width: 700px)
{
	.container.loaded
	{
		border : 1px solid rgb(182, 182, 182);
		width : 90%;
		margin : 5vh auto;
		display : flex;
		flex-direction: column;
	}

	.container.loaded img
	{
		height : 100%;
		width : 100%;
	}

	.container.loaded .accordion
	{
		width: 100%;
	}


}
